.main-header{

    display: flex;
    flex-wrap: wrap;
    background-color: #D733E0;
    @media (min-width:768px){
        padding: 0 150px;
    }

    &__shop-items-container{
        display: flex;
        width: 100%;
        height: 70px;
    }

    &__logo-container{
        // background-color: lightcoral;
        flex-grow: 1;
        background-image: url(/img/logotipos/cosmicfamily.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        min-height: 57px;
        min-width: 63px;
        
        
        
        
        @media (min-width: 320px){
            padding: 1em;
        }

        @media (min-width:768px){
            flex-grow: 1;
            background-image: url(/img/logotipos/logotipoAjustado.png);
            width: 200px;
        }
    }
    
    &__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__search-form-container{
        // background-color: lightgreen;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 2;
        
        

        @media (min-width: 320px){
            
        }

        @media (min-width:768px){
            order: 2;
            flex-grow: 3;
        }
    }

    


    &__search-form{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    &__search-input{
        width: 80%;
        border-radius: 15px;
        background-color: white;
        margin-right: 3px;
        border: none;
        box-shadow: 
        1px 3px 10px rgba(0, 0, 0, 0.2),
        0 0 8px rgba(0, 0, 0, .05);

        &::placeholder{
            color: black;
            opacity: .5;
            padding-left: 10px;
            font-size: 20px;
        }
    }

    &__submit-input{
        background-image: url(/img/logotipos/searchIcon.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        width: 30px;
        background-color: transparent;
        border: none;
        right: 0;
    }
    
    &__cart-button-container{
        // background-color: lightsalmon;
        display: flex;
        justify-content: center;

        @media (min-width: 320px){
            
        }

        @media (min-width:768px){
            order: 3;
            flex-grow: 1;
        }
    }

    &__cart-button-wrapper{
        // background-color: blue;
        background-image: url(/img/logotipos/shoppingCart.png);
        padding: .4em;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-position: right;
        min-height: 57px;
        min-width: 63px;
        box-sizing: border-box;
        width: 70px;
    }

    &__cart-link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    &__hamburger-button-container{
        // background-color: red;

        @media (min-width:768px){
            display: none;
        }
    }
    
    
    
    &__main-nav-container{
        // background-color: yellow;
        flex-basis: 100%;
        display: none;

        @media (min-width:768px){
            display: block;
            flex-basis: auto;
            order: 1;
            flex-grow: 1;
        }
    }
    
    
    
    

}
    



