<div class="brands-container">
    <div class="brand">
        <article class="brand__article">
            <div class="brand__image-container">
                <img src="img/brands/fisherPrice.png" alt="" class="brand__image">
            </div>
            <div class="brand__text-container">
                <p>Ver Articulos</p>
            </div>
        </article>
    </div>

    <div class="brand">
        <article class="brand__article">
            <div class="brand__image-container">
                <img src="img/brands/hasbro.png" alt="" class="brand__image">
            </div>
            <div class="brand__text-container">
                <p>Ver Articulos</p>
            </div>
        </article>
    </div>

    <div class="brand">
        <article class="brand__article">
            <div class="brand__image-container">
                <img src="img/brands/lego.jpeg" alt="" class="brand__image">
            </div>
            <div class="brand__text-container">
                <p>Ver Articulos</p>
            </div>
        </article>
    </div>
</div>