<div class="cart-item__container">
    <div class="cart-item__image-container">
        <img class="cart-item__image" src="img/juguetes/autoClasico.png">
    </div>
    <div class="cart-item__info-container">
        <div class="cart-item__general-info">
            <h2 class="cart-item__item-name">Juguete</h2>
            <p class="cart-item__item-price">$20000</p>
        </div>
        <p class="cart-item__item-quantity">10</p>
    </div>
    <div class="cart-item__item-trash-icon-container">
        <img class="cart-item__item-trash-icon" src="img/logotipos/trashIcon.png" alt="Delete item">
    </div>
</div>