<main class="main-contacto">
    <section class="section-contacto-form">
        <header class="section-Contacto-form__header">
            <h1 class="section-Contacto-form__header-tittle">Contacta con nosotros</h1>
        </header>

        <form action="" class="form">
            <fieldset>
                <div>
                    <label for="contactName">Nombre:*</label>
                    <input type="text" id="contactName">
                </div>
                <div>
                    <label for="contactEmail">Email:*</label>
                    <input type="email" id="contactEmail">
                </div>
                <div>
                    <label for="contactMessage">Comentarios</label>
                    <textarea id="contactMessage" cols="30" rows="10"></textarea>
                </div>
            </fieldset>
            <div class="form__button-container">
                <input type="submit" value="Contactar">
            </div>
        </form>
    </section>
</main>