<footer class="main-footer">
    <div class="main-footer__logo-container">
        <img src="img/logotipos/logotipoAjustado.png" alt="" class="main-footer__logo">
    </div>
    <div class="main-footer__info">
        <div class="main-footer__contact-info">
            Contactenos al: 333 4445566
        </div>
        <div class="main-footer__copyright">
            Copyright &copy; 2023 Jugueteria Cosmica COL
        </div>
    </div>
    <div class="main-footer__social-medias">
        <div class="main-footer__social-media-logo-container">
            <img src="img/logotipos/facebookLogo.png" alt="" class="main-footer__social-media">
        </div>
        <div class="main-footer__social-media-logo">
            <img src="img/logotipos/instagramLogo.png" alt="" class="main-footer__social-media">
        </div>
        <div class="main-footer__social-media-logo">
            <img src="img/logotipos/youtubeLogo.png" alt="" class="main-footer__social-media">
        </div>
    </div>
</footer>
