<main class="main">   
    <section class="section-cards">
        <header class="section-cards__header">
            <h1 class="section-cards__header-tittle">Productos</h1>
            <p class="section-cards__header-info">Los mejores juguetes infantiles a un click.</p>
        </header>

        <div class="cards-container">

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/autoClasico.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/burritopeluche.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/castilloInflable.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/fichasConstruccion.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/gundam1.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/gundam3.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/kitty.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/legoPolice.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/mecedoraCaballo.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <a class="card__link-add-to-cart" href=""></a>
                <article class="card__article">
                    <div class="card__image-container">
                        <img class="card__image" src="img/juguetes/mecedoraElefante.png" alt="">
                    </div>
                    <div class="card__content">
                        <div class="card__header">
                            <h2 class="card__heading">Juguete</h2>
                            <p class="card__price">$20000</p>
                        </div>
                        <div class="card__info">
                            <p class="card__description">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <%- include('../partials/brands.ejs')%>
    </section>    
</main>