<div class="shopping-cart__container display-none"> 
    <div class="shopping-cart">
        <div class="shopping-cart__title-container">
            <h3 class="shopping-cart__title">Carrito (0)</h3>
            <div class="shopping-cart__close-window"></div>
        </div>
        <div class="shopping-cart__item-container">
            <%- include(`cartItem.ejs`); %>
            <%- include(`cartItem.ejs`); %>
        </div>
        
    </div>
</div>
<script src="JS/shoppingCart.js"></script>