<section class="about-us">
    <header class="about-us__header">
        <img src="img/logotipos/spaceship.png" alt="" class="about-us__header-image">
        <h1>Sobre Nosotros</h1>
    </header>

    <div class="info-container">
        <p>
            Somos la tienda #1 de juguetes en Colombia brindando los mejores productos
            y servicios a nuestros clientes al alcance de un click.
        </p>
        <p>
            Contamos con las mejores marcas de juguetes como proveedores para traer al alcance
            de los clientes las tendencias del momento.
        </p>
    </div>
</section>

<%- include('brands.ejs'); %>