.main{
    background-color: whitesmoke;
}

.section-cards{
    margin: 0 15%;
    padding: 1em;

    &__header{
        &-tittle{
            color: #68F260;
        }
    
        &-info{
            color: #B7EF28;
            font-size: 20px;
        }
    }

    &__footer{
        // border: 4px red solid;
        width: 100%;

        &-tittle{
            color: #68F260;
        }

        // &-brands{

        // }
    }

    
}

.cards-container{
    // border: 4px solid red;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
}

.brands-container{
    // border: 4px solid blue;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: stretch;

    @media (min-width: 768px){
        flex-direction: row;
    }
}

